* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
	width: 100vw;
	font-size: 16px;
	font-family: Tahoma,
		Verdana,
		sans-serif;
}


body {
	background-color: mistyrose;

}

#wrapper {
	padding-right: 20px;
	padding-left: 20px;
}

#div-header {
	margin-top: 10px;
	text-align: center;
}

#div-header h1 {
	background-color: lightsalmon;
	padding-top: 3px;
	padding-bottom: 6px;
}

#div-header nav {
	background-color: lemonchiffon;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 15px;
}

#div-header nav a {
	background: #fff;
	color: deeppink;
	border: 1px solid deeppink;
	text-decoration: none;
	border-radius: 20px;
	display: inline-block;
	margin: 5px 8px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}

#div-content main {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	text-indent: 10px;
}

#div-content main h2 {
	background-color: lightblue;
}

#div-content main h3 {
	background-color: lightgreen;
}

#div-content main p {
	background-color: cornflowerblue;
}

#div-content mark {
	background: pink;
}

#div-content main a {
	color: white;

}

#div-footer footer {
	background-color: none;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#div-footer footer a {
	background-color: white;
	color: deeppink;
	border: 9px solid white;
	border-radius: 20px;
}

/* mark {
	background: pink;
	border-radius: 7px;
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	width: 40px;
	color: #fff; } */